.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .container-2 {
    grid-column: span 2;
  }

  .container-3 {
    grid-column: span 3;
  }

  .container-4 {
     grid-column: 10 / span 3; /* Start from column 10 and span 3 columns */
     text-align: right;
    }
