/* Error: expected "{".
 *    ,
 * 19 | >>>>>>> 4640eef5429ae42f9cb7f27b764f23e7f1a33589
 *    |                                                 ^
 *    '
 *   footer.scss 19:49  @import
 *   style.scss 11:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 19 \2502  >>>>>>> 4640eef5429ae42f9cb7f27b764f23e7f1a33589\a    \2502                                                  ^\a    \2575 \a   footer.scss 19:49  @import\a   style.scss 11:9    root stylesheet';
}
