/*
Name: Google News SASS
Version: 1.0
*/

@import "meet-the-team.scss";
@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/
@import "footer.scss"; /*Footer SASS file*/
@import "our-story";

html {
  width: 100%;
  margin: 0;
  border-top: 2px solid $link-hover;
}

body {
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 0;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 13pt;
  color: black;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width: 1024px) {
  /*All Devices*/

  html.touch *:hover {
    pointer-events: none !important;
  }

  html,
  body {
    width: 100% !important;
    margin: 0px !important;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  }

  body {
    margin: 0 0 20px;
    height: auto;
    min-height: 100%;
  }
}

#content {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

/*------FOOTER-----*/

#footer {
  width: 100%;
}


.hero-section img {
  width: 100%;
}

.grid-12-whoweare {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 107px;
}

.container--4 {
  grid-column: span 4;
}

/*Get in touch section*/
.get-in-touch {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 10px;
}

.get-in-touch h2 {
  padding-bottom: 15px;
  font-weight: 700;
}

.get-in-touch p {
  margin: 2% 0% 2% 0%;
}

.inquiries {
  grid-column: span 3;
}

.business-careers {
  grid-column: span 3;
}

.socialmedia-icons {
  grid-column: 10 / span 3; /* Start from column 10 and span 3 columns */
  text-align: right;
  grid-row: 1;
}
