/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/
@import "footer.scss"; /*Footer SASS file*/

html {
  width: 100%;
  margin: 0;
  border-top: 2px solid $link-hover;
}

body {
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 130px 0px 0px 0px;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: 13pt;
  color: black;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width: 1024px) {
  /*All Devices*/

  html.touch *:hover {
    pointer-events: none !important;
  }

  html,
  body {
    width: 100% !important;
    margin: 0px !important;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  }

  body {
    margin: 0 0 20px;
    height: auto;
    min-height: 100%;
    padding-top: 60px;
  }
}

.map-image {
  width: 100%;
  padding-top: 30px;
}

#content {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

/*------FOOTER-----*/
#footer {
  width: 100%;
}
/*------FOOTER-----*/

/*------HERO-----*/
.hero-section img {
  width: 100%;
  margin-bottom: 40px;
}
/*------HERO-----*/

.grid-12-whoweare {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 30px;
  padding-left: 0%;
}

.container--4 {
  grid-column: span 4;
}

.our-story {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*Get in touch section*/
.Heading-get-in-touch {
  padding-bottom: 15px;
}

.get-in-touch {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 20px 0px 20px 0px;
  padding: 0px;
}

.get-in-touch h2 {
  padding-bottom: 20px;
  font-weight: 700;
}

.get-in-touch p {
  margin: 2% 0% 2% 0%;
}

.inquiries {
  grid-column: span 3;
}

.careers {
  grid-column: span 3;
}

.business {
  grid-column: span 3;
}

@media (min-device-width: 375px) and (max-width: 667px) {
  .Heading-get-in-touch {
    padding-bottom: 10px;
  }

  .get-in-touch h2 {
    padding-bottom: 10px;
  }

  .inquiries {
    grid-column: span 12;
    margin-bottom: 30px;
  }

  .business {
    grid-column: span 12;
    margin-bottom: 30px;
  }

  .careers {
    grid-column: span 12;
    margin-bottom: 30px;
  }

  .container--4 {
    grid-column: span 12;
    margin-bottom: 30px;
  }

  .our-story {
    margin-top: -50px;
    padding-bottom: 0px;
  }
}

.socialmedia-icons {
  grid-column: 10 / span 3; /* Start from column 10 and span 3 columns */
  text-align: right;
}
@media (min-device-width: 375px) and (max-width: 667px) {
  .socialmedia-icons {
    grid-column: span 12;
    text-align: left;
  }
}

/* Meet the team */
.twelve-column-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 3rem;
  padding-top: 2rem;
  column-gap: 2rem;
}

.team-card {
  grid-column: span 2;
}

@media (max-width: 1200px) {
  .team-card {
    grid-column: span 3;
  }
}

@media (max-width: 768px) {
  .team-card {
    grid-column: span 4;
  }
}

@media (max-width: 480px) {
  .team-card {
    grid-column: span 6;
  }

  .team-card .image-item {
    grid-column: span 3;
  }
}

.image-item img {
  min-width: 100%;
  max-width: 100%;
}

.our-team {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.border-line {
  margin-left: -5.5%;
  margin-right: -5.5%;
  border: none; /* Remove border to ensure only one line is visible */
  border-top: 1px solid $light-grey; /* Set the top border as the line */
  padding-bottom: 50px;
}
/* END Meet the team */
