/* Error: expected "{".
 *    ,
 * 39 | >>>>>>> Footer
 *    |               ^
 *    '
 *   footer.scss 39:15  @import
 *   style.scss 11:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 39 \2502  >>>>>>> Footer\a    \2502                ^\a    \2575 \a   footer.scss 39:15  @import\a   style.scss 11:9    root stylesheet';
}
